@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family:'Poppins',sans-serif;
}